@charset "UTF-8";
*{

}

html, body{
    margin:0;
    height:100%;
}

main{
    background-color: #6D7696;
    display:flex; 
}

header{
    color:white;
}

nav{
    background-color:#CC5543;    
}

header{
    background-color: #59484F;
}

#ProjectDesc{
    background-color: #DBE6AF;
}
#ProjectDesc h2{
    text-decoration:underline;
}

#AboutMe h2{
    text-decoration: underline;
}

#AboutMe{
    background-color: #DBE6AF;
}

section{
    padding-bottom: 5px;
}

links{
    padding-bottom: 19px;
}

#RepoLink{
    background-color:#D9D9D9;
}

#SocialMedia{
    background-color:#D9D9D9;
}
h2{
    text-decoration:underline;
}
footer{
    background-color:#EDB579;
}