@charset "UTF-8";

body{
    background-color: #717171;
    color: #fff;
    margin:0px;
    font-family: Arial, sans-serif;
}
h1{
    text-align:center;
    padding-top: 22px;
    padding-bottom: 22px;
    margin:auto;
    color: #fff;
    background-color: #202020;
    
}
#nav{
    background-color:#202020;
    text-align:center;
    display:flex;
    justify-content:space-between;
    padding-top:22px;
    padding-bottom:22px;
    padding-right:11px;
    padding-left:11px;
    border-bottom:2px solid #373737;
    border-top: 2px solid #373737;
}

#nav a:link{
    color:white;
    font:bold;
    padding:2px 6px 2px 6px;
    border:1px solid #373737;
    text-decoration:none;
    font-size: 17px;
    display:inline-block;
    padding-right:11px;
    padding-left:11px;
}

a:visited{
    color:red;
    text-decoration:none;
    font-size:17px;
    display:inline-block;
    padding-right:11px;
    padding-left:11px;
}

#nav a:hover{
    color:rgb(60, 60, 243);
    text-decoration:none;
    background-color: #717171;
    font-size:17px;
    display:inline-block;
    padding-right:11px;
    padding-left:11px;
}

h2{
    text-align: center;
    margin: 0px;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:5px solid #717171;
}

#bio{

    background-color:#373737;
    margin:0px;
    padding:4px;
}


#main #ed{
    background-color:#373737;
    margin:0px;
    padding:4px;
}

#main #hobbies{
    background-color:#373737;
    margin:0px;
    padding:4px;
}
#footer{
    background-image: linear-gradient(#373737,#717171);
    margin:0px;
    padding: 8px;
}

.hide{
    display:none;
}


